---
layout: tags
title: Categories
---

<div class="categories-area">
    {% for category in site.categories %}
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <a href="{{ site.url }}/tags.html#{{ category_name }}">
        <div class="category-name">{{ category_name }} ({{ site.categories[category_name].size }})</div>
    </a>
    {% endfor %}
</div>

<div id="archives">
    {% for category in site.categories %}
    <div class="archive-group">
        {% capture category_name %}{{ category | first }}{% endcapture %}
        <div id="#{{ category_name | slugize }}"></div>
        <p></p>

        <a name="{{ category_name }}"><div class="category-head">「{{ category_name }}」</div></a>
        <a name="{{ category_name | slugize }}"></a>
        {% for post in site.categories[category_name] %}
        <article class="archive-item">
            <a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a>
        </article>
        {% endfor %}
    </div>
    {% endfor %}
</div>
