<div class="navigatebar">
    <div class="navigatebar-button navigatebar-mine">
        <a href="{{ '/index.html' | relative_url }}">ManateeLazyCat</a>
    </div>
    <div class="navigatebar-button">
        <a href="{{ '/tags.html' | relative_url }}">Tags</a>
    </div>
    <div class="navigatebar-button">
        <a href="{{ '/projects.html' | relative_url }}">Projects</a>
    </div>
    <div class="navigatebar-button">
        <a href="{{ '/feed.xml' | relative_url }}">Feeds</a>
    </div>
    <div class="navigatebar-button navigatebar-about">
        <a href="{{ '/about.html' | relative_url }}">About</a>
    </div>
</div>
