<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />

        <link rel="stylesheet" href="{{site.url}}/styles/font.css">
        <link rel="stylesheet" media="screen and (min-width: 900px)" href="{{site.url}}/styles/home.css">
        <link rel="stylesheet" media="screen and (max-width: 600px)" href="{{site.url}}/styles/home_mobile.css">
        <title>{{ page.title }}</title>
    </head>
    <body>
        <img
            class="cover"
            src="{{site.url}}/pics/home/kurt_cobain.png"/>
        <div class="content">
            {{ content }}
            <div class="motto">
                Smells Like Teen Spirit
            </div>
        </div>
    </body>
</html>
