<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />

        <link rel="stylesheet" href="{{site.url}}/styles/font.css">
        <link rel="stylesheet" media="screen and (min-width: 900px)" href="{{site.url}}/styles/post.css">
        <link rel="stylesheet" media="screen and (max-width: 600px)" href="{{site.url}}/styles/post_mobile.css">
        <link rel="stylesheet" media="screen and (min-width: 900px)" href="{{site.url}}/styles/navigatebar.css">
        <link rel="stylesheet" media="screen and (max-width: 600px)" href="{{site.url}}/styles/navigatebar_mobile.css">
        <link rel="stylesheet" href="{{site.url}}/theme/highlight.css">

        <title>{{ page.title }}</title>
    </head>
    <body>
        {% include navigatebar.html %}
        <div class="content-area">
            <div class="title">
                {{ page.title }}
            </div>
            <div class="category-area">
                「{% for category in page.categories %}
                <a href="{{ site.url }}/tags.html#{{ category }}">
                    <div class="category">
                        {{ category }}
                    </div>
                </a>
                {% endfor %}」
            </div>
            <div class="char-counter">
                字数 {{ page.content | strip_html | strip_newlines | remove: " " | size }}
            </div>
            <div class="content">
                {{ content }}
            </div>
        </div>
        <div class="nickname">
            Smells Like Teen Spirit
        </div>

    </body>
</html>
