<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="{{site.url}}/styles/font.css">
        <link rel="stylesheet" href="{{site.url}}/styles/post.css">
        <link rel="stylesheet" href="{{site.url}}/styles/navigatebar.css">
        <link rel="stylesheet" href="{{site.url}}/theme/highlight.css">
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>{{ page.title }}</title>
    </head>
    <body>
        {% include navigatebar.html %}
        <div class="content-area">
            <div class="title">
                {{ page.title }}
            </div>
            <div class="category-area">
                「{% for category in page.categories %}
                <a href="{{ site.url }}/tags.html#{{ category }}">
                    <div class="category">
                        {{ category }}
                    </div>
                </a>
                {% endfor %}」
            </div>
            <div class="content">
                {{ content }}
            </div>
        </div>
        <div class="nickname">
            Smells Like Teen Spirit
        </div>

    </body>
</html>
