<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{{ '/styles/font.css' | relative_url }}">
        <link rel="stylesheet" media="screen and (min-width: 600px)" href="{{ '/styles/projects.css' | relative_url }}">
        <link rel="stylesheet" media="screen and (max-width: 600px)" href="{{ '/styles/projects_mobile.css' | relative_url }}">
        <link rel="stylesheet" media="screen and (min-width: 600px)" href="{{ '/styles/navigatebar.css' | relative_url }}">
        <link rel="stylesheet" media="screen and (max-width: 600px)" href="{{ '/styles/navigatebar_mobile.css' | relative_url }}">
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>{{ page.title }}</title>
    </head>
    <body>
        {% include navigatebar.html %}
        {{ content }}
    </body>
</html>
