html,
body {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    background-color: #F5F5F5;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

ul {
    list-style-type: none;
    padding-left: 20px;
    padding-top: 10px;
    margin: 0;
}

li {
    line-height: 30px;
    font-size: 16px;
}

.about a {
    color: #000;
    text-decoration: none;
}

.about a:hover {
    color: #73BC83;
}

.nickname {
    font-size: 16px;
    color: #AAA;
    font-family: mottoFont;
    margin-bottom: 20px;
}

.about {
    box-sizing: border-box;
    background-color: #FFF;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    width: 50%;
    margin: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
}

.title-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.title {
    color: #AAA;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    border-top: 2px solid #AAA;
    border-bottom: 2px solid #AAA;
    font-family: angelinaFont;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.name {
    text-align: center;
    color: #888;
    margin-bottom: 40px;
}

.segement {
    color: #888;
    font-size: 18px;
    margin-top: 40px;
}

.segement-content {
    padding-left: 20px;
    padding-top: 10px;
    margin: 0;
}
