html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: jinkaiFont;
}

ul{
    list-style-type:none;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: row;
    background: linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,1)), url("https://manateelazycat.github.io/pics/home/kurt_cobain.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    color: #57BF7D;
}

.content {
    padding-left: 20%;
    padding-right: 20%;
    width: 100%;
}

@media screen and (max-width: 1000px) {
    .content {
        padding-left: 10%;
        padding-right: 10%;
    }
}

.post-line {
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #DDD;
}

.post-title {
    text-decoration: none;
    font-size: 22px;
    color: #000;
}

.post-summary {
    margin-top: 30px;
    margin-bottom: 20px;
    margin-right: 10px;
    font-size: 20px;
    line-height: 26px;
    color: #333;
}

.post-date {
    color: #666;
    font-size: 16px;
    text-align: right;
}

.topbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    margin-bottom: 80px;
}

.topbar-mine {
    font-size: 40px;
    font-weight: bold;
    color: #333;
    flex: 1;
    font-family: angelinaFont;
}

.topbar-button {
    margin-left: 0px;
    margin-right: 20px;
    color: #888;
    font-size: 28px;
    font-family: angelinaFont;
}

.slogan {
    font-size: 26px;
    text-align: center;
    color: #666;
    margin-bottom: 100px;
}

.topbar-button a {
    color: #888;
    text-decoration: none;
}

.topbar-button a:hover {
    color: #73BC83;
}

.post-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.category-area {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
}

.category {
    color: #666;
    font-size: 18px;
    height: 16px;
    position: relative;
    background: #DDD;
    margin-right: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.char-total-counter {
    display: flex;
    justify-content: flex-end;
    color: #666;
    font-size: 16px;
    margin-right: 20px;
}

.char-counter {
    color: #666;
    font-size: 16px;
    margin-right: 10px;
}

.right-info-area {
    display: flex;
    flex-direction: row;
    align-items: center;
}
