html,
body {
    margin: 0;
    padding: 0;
    font-size: 12px;
}

html,
body {
    width: 100%;
    background-color: #F5F5F5;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-area {
    box-sizing: border-box;
    background-color: #FFF;
    width: 100%;
    margin: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

ul {
    margin: 0;
    padding: 0;
    margin-left: 2em;
}

ol {
    margin-left: 1em;
}

a {
    color: #57BF7D;
    text-decoration: none;
}

.title {
    color: #000;
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
    line-height: 40px;
}

.content {
    font-size: 16px;
    line-height: 28px;
}

li>img,
p>img {
    margin: 0 auto;
    display: block;
    max-width: 90%;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.nickname {
    font-size: 16px;
    color: #AAA;
    font-family: mottoFont;
    margin-bottom: 20px;
}

pre {
    white-space: pre;
    overflow: auto;
}

div.highlighter-rouge {
    margin-left: 2em;
    margin-right: 2em;
}

div.highlight,
pre.highlight {
    border-radius: 5px;
}

figure.highlight pre {
    padding: 10px;
}

div.highlight pre.highlight {
    padding: 10px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #AAA;

    margin-left: auto;
    margin-right: auto;
}

tbody tr:nth-child(even) {
    background-color: #FAFAFA;
}

th {
    border: 1px solid #AAA;
    padding: 5px;
    background-color: #F5F5F5;
}

td {
    border: 1px solid #AAA;
    padding: 5px;
}

#archives {
    position: fixed;
    right: 100px;
    top: 100px;
}

.category-name {
    font-size: 16px;
    color: #73BC83;
    line-height: 30px;
}

.category-area {
    color: #999;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.category {
    color: #999;
    font-size: 18px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.char-counter {
    display: flex;
    justify-content: flex-end;
    color: #AAA;
    font-size: 11px;
    margin-top: 20px;
    margin-bottom: 40px;
}

blockquote {
    margin: 0;
}

blockquote p {
    white-space: normal;
    border-left: 4px solid #EAEAEA;
    padding: 10px;
    background-color: #F5F5F5;
    margin-top: 40px;
}

.line-quote {
    white-space: normal;
    padding: 10px;
    background-color: #FFF0C6;
    margin-left: 2em;
    border-radius: 5px;
}

.text-quote {
    white-space: normal;
    padding: 10px;
    border-radius: 5px;
    background-color: #F5F5F5;
    margin-left: 2em;
}
